@charset "utf-8";
/* CSS Document */
.clear {
	clear:both
}
h1, h2, h3, h4, h5, h6 { 
line-height:normal;
margin: 0px 0px 10px 0;
}
body{
	background:#CCC;
}
.wrapper {
	width:1000px;
	margin:0 auto;
	padding: 0 10px;
	background:#FFF;
}
header {
	padding:5px 0;
}
.header {
	padding:16px 0;
	float:right;
	text-align:center;
}
.logo {
	float:left;
}
.college_name {
	color:#ce006d;
	font-size:30px;
	font-family:"Arial_Rounded_MT_Bold";
	font-weight:bold;
	line-height:36px;
}
.college_address {
	color: #666666;
	font-size:25px;
}
.navbar { 
margin-bottom: 10px;
}
.navbar .brand {
	font-size:15px;
	padding: 10px 15px;
}
footer {
	margin-top:10px;
	border-top:#666666 1px solid;
}
.footer {
	padding-top:10px;
	text-align:center
}

#students-form{
	margin:0 20px;}
.w200{ width:200px;}
.w790{ width:790px;}
.grid-view{padding-top:0;}
/* Custom Fonts */
@font-face {
	font-family: 'Arial_Rounded_MT_Bold';
	src: url('../fonts/arial_rounded_mt_bold.eot');
	src: url('../fonts/arial_rounded_mt_bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial_rounded_mt_bold.svg#Arial_Rounded_MT_Bold') format('svg'),  url('../fonts/arial_rounded_mt_bold.woff') format('woff'),  url('../fonts/arial_rounded_mt_bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
